.datatable .col {
    cursor: pointer;
}
.datatable .col .pointer::after {
    font-size: 90%;
    content: "";
    margin-right: 15px;
}
.datatable .col .pointer:hover::after {
    font-size: 90%;
    content: "";
    margin-right: 0;
}
